.home{
    /* background: url('https://images.unsplash.com/photo-1556076571-ebe593d875be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80'); */
    background: url('https://images.unsplash.com/photo-1475727946784-2890c8fdb9c8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1184&q=80');
    background: url('https://images.unsplash.com/photo-1591302418462-eb55463b49d6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1551&q=80');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}